RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# URL rewriting for login
RewriteRule ^login$ index.php?action=login [L,QSA]

# URL rewriting for logout
RewriteRule ^logout$ index.php?action=logout [L,QSA]

# ADMIN -----------------------------------

# URL rewriting for admin access
RewriteRule ^admin$ index.php?action=admin [L,QSA]

# CONTENT -----------------------------------

# URL rewriting to retrieve content
RewriteRule ^content$ index.php?action=content [L,QSA]

# URL rewriting to retrieve content by ID
RewriteRule ^contentById/([0-9]+)$ index.php?action=contentById&id=$1 [L,QSA]

# URL rewriting to add new content
RewriteRule ^addContent$ index.php?action=addContent [L,QSA]

# URL rewriting to update content
RewriteRule ^updateContent$ index.php?action=updateContent [L,QSA]

# URL rewriting to delete content
RewriteRule ^deleteContent$ index.php?action=deleteContent [L,QSA]

# SECTION -----------------------------------

# URL rewriting to retrieve section
RewriteRule ^section$ index.php?action=section [L,QSA]

# STATUS -----------------------------------

# URL rewriting to retrieve status
RewriteRule ^status$ index.php?action=status [L,QSA]

# IMAGE -----------------------------------

# URL rewriting to retrieve image
RewriteRule ^image$ index.php?action=image [L,QSA]

# URL rewriting to retrieve image
RewriteRule ^imageById/([0-9]+)$ index.php?action=imageById&id=$1  [L,QSA]

# URL rewriting to add new image
RewriteRule ^addImage$ index.php?action=addImage [L,QSA]

# URL rewriting to update image
RewriteRule ^updateImage$ index.php?action=updateImage [L,QSA]

# URL rewriting to delete image
RewriteRule ^deleteImage$ index.php?action=deleteImage [L,QSA]

# SOCIAL NETWORK -----------------------------------

# URL rewriting to retrieve social network
RewriteRule ^socialNetwork$ index.php?action=socialNetwork [L,QSA]

# URL rewriting to retrieve social network
RewriteRule ^socialNetworkById/([0-9]+)$ index.php?action=socialNetworkById&id=$1  [L,QSA]

# URL rewriting to add new social network
RewriteRule ^addSocialNetwork$ index.php?action=addSocialNetwork [L,QSA]

# URL rewriting to update social network
RewriteRule ^updateSocialNetwork$ index.php?action=updateSocialNetwork [L,QSA]

# URL rewriting to delete social network
RewriteRule ^deleteSocialNetwork$ index.php?action=deleteSocialNetwork [L,QSA]

# INFORMATION CONTACT -----------------------------------

# URL rewriting to retrieve Information
RewriteRule ^information$ index.php?action=information [L,QSA]

# URL rewriting to retrieve Information
RewriteRule ^informationById/([0-9]+)$ index.php?action=informationById&id=$1  [L,QSA]

# URL rewriting to add new Information
RewriteRule ^addInformation$ index.php?action=addInformation [L,QSA]

# URL rewriting to update Information
RewriteRule ^updateInformation$ index.php?action=updateInformation [L,QSA]

# URL rewriting to delete Information
RewriteRule ^deleteInformation$ index.php?action=deleteInformation [L,QSA]

# CONTACT -----------------------------------

# URL rewriting to retrieve Information
RewriteRule ^contact$ index.php?action=contact [L,QSA]

# URL rewriting to
RewriteRule ^contactStatus$ index.php?action=contactStatus [L,QSA]

# URL rewriting to 
RewriteRule ^contactTypeOfProject$ index.php?action=contactTypeOfProject [L,QSA]

# URL rewriting to send a message
RewriteRule ^addContact$ index.php?action=addContact [L,QSA]

# URL rewriting to delete Information
RewriteRule ^deleteContact$ index.php?action=deleteContact [L,QSA]