RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# URL rewriting for login
RewriteRule ^login$ index.php?action=login [L,QSA]

# URL rewriting for logout
RewriteRule ^logout$ index.php?action=logout [L,QSA]

# -----------------------------------

# URL rewriting for admin access
RewriteRule ^admin$ index.php?action=admin [L,QSA]

# URL rewriting to retrieve content
RewriteRule ^content$ index.php?action=content [L,QSA]

# URL rewriting to add new content
RewriteRule ^addContent$ index.php?action=addContent [L,QSA]

# URL rewriting to retrieve content by ID
RewriteRule ^contentById/([0-9]+)$ index.php?action=contentById&id=$1 [L,QSA]

# URL rewriting to update existing content
RewriteRule ^updateContent$ index.php?action=updateContent [L,QSA]

# URL rewriting to delete content
RewriteRule ^deleteContent$ index.php?action=deleteContent [L,QSA]

# URL rewriting to retrieve section
RewriteRule ^section$ index.php?action=section [L,QSA]

# URL rewriting to retrieve status
RewriteRule ^status$ index.php?action=status [L,QSA]

# URL rewriting to add new image
RewriteRule ^addImage$ index.php?action=addImage [L,QSA]